body{
    height: 700px;
    width: 600px;
    font-family: Verdana;
}

main{
    margin-top:0;
    position: relative;
    top: -30px;
}
main, form{
    margin-top: 0;
    position: relative;
    top: 0;
}
p{
    margin-top:0;
    position: relative;
    top: 14px;


}
